import React from 'react';
import PropTypes from 'prop-types';

import './{{pascalCase name}}.scss';

export default function {{pascalCase name}}({}) {

  return (
    <div className="{{kebabCase name}}">{{pascalCase name}} works!</div>
  );
};

{{pascalCase name}}.propTypes = {

};

{{pascalCase name}}.defaultProps = {

};